.jumbotron {

margin-top: 50px;
    background-color: blueviolet;
    color:white;
}
.container{
    background-color: rgb(185, 233, 217);
    padding: 30px 30px 30px 30px;
    color : rgb(28, 9, 110);

}

footer{
    padding: 20px 20px 20px 20px;
    background-color: rgb(228, 213, 130);
    margin-bottom: 100px;
    margin-top: 30px;
    
    color: rgb(22, 136, 170);
}
